<app-hero></app-hero>
<div *ngIf="doesDataExist" >
    <app-slider [data]="moviesPopular" ></app-slider>
    <app-slider [data]="showsPopular" ></app-slider>
    <app-slider [data]="comedy" ></app-slider>
</div>
<app-footer></app-footer>
